.presentation {
    display: flex;
    position: absolute;
    font-family: 'Josefin Sans';
    font-style: normal;
    left: 120px;
    border-radius: 20px;
    margin-top: -5vh;
}

.hi {
    /* Hi, */
    position: absolute;
    width: 173px;
    height: 170px;
    left: 100px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 150px;
    line-height: 150px;
    color: #000000;
}

.myname {
    /* I am Hassan Bittencourt */
    position: absolute;
    width: 812px;
    height: 140px;
    left: 280px;
    top: 77.5px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 62px;

    color: #000000;
}

.describe {
    /* I'm Brazilian and I'm currently living in Marseille, France. */
    position: absolute;
    width: 700px;
    height: 294px;
    left: 110px;
    top: 280px;

    text-indent: 3ch;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 26px;
    line-height: 26px;
    text-align: justify;

    color: #000000;
}

.logos_line_1 {
    display: flex;
    position: absolute;
    margin-top: 7vh;
    margin-left: 305px;
    list-style:none;
}

.logos_line_2 {
    display: flex;
    position: absolute;
    margin-top: 19vh;
    margin-left: 305px;
    list-style:none;
}

.logos_line_1 li img {
    margin-left: 30px;
    height: 80px;
    width: 80px;
}

.logos_line_2 li img {
    margin-left: 30px;
    height: 80px;
    width: 80px;
}


.infos {
    width: 353px;
    height: 37vh;
    margin-left: 1000px;
}

.titles_1 {
    /* KNOWLEDGE and SKILLS*/
    position: absolute;
    display: inline;
    width: 353px;
    height: 30px;
    left: 992px;
    margin-top: -1vh;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

#skills {
    margin-top: 17vh;
}

#skills_infos {
    margin-top: 20vh;
}


.titles_2 {
    /* LANGUAGES and HOBBYS*/
    position: absolute;
    display: inline;
    width: 353px;
    height: 30px;
    left: 1392px;
    margin-top: -3vh;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.list_1 {
    width: 353px;
    height: 30px;
    margin-top: 13vh;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.list_2 {
    width: 353px;
    height: 30px;
    margin-top: 9vh;
    margin-left: 390px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.line {
    display: flex;
    position: absolute;
    margin-left: 1022px;
    margin-top: -310px;
}

.line#line2 {
    display: flex;
    position: absolute;
    margin-left: 1022px;
    margin-top: -25px;
}


.background_image {
    display: flex;
    position: absolute;
    margin-left: 1069px;
    bottom: 88px;
}