html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #f0f2f7;
}

.footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 5vh;
    background: #000000;
} 

.subtitle {
    /* This site was fully developed and styled by me, using Python Django Framework and Figma. */
    max-width: 90vw;
    vertical-align: auto;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: black;
}
