html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
    background-color: #f0f2f7;
}

.home {
    height: 95vh;
}

.presentation {
    display: flex;
    position: absolute;
    font-family: 'Josefin Sans';
    font-style: normal;
    left: 120px;
    border-radius: 20px;
}

.myname{
    /* NAME */
    position: absolute;
    width: 691px;
    height: 254px;
    margin-left: 15.5vw;
    font-weight: 300;
    font-size: 7em;
    line-height: 125px;
    margin-top: 13vh;
    }

.hassan {
    position: absolute;
    width: 553px;
    height: 254px;
    text-align: right;
    font-weight: 300;
    margin-top: 22vh;
    margin-left: 18vw;
    font-size: 7em;
    line-height: 125px;
}

.describe p{
    /* I am a Brazilian student at the École Centrale Marseille and passionate about coding. If you want to know more about my projects and my story, please follow these links: */
    text-indent: 3ch;
    position: absolute;
    width: 600px;
    height: 172px;
    margin-left: 15.9vw;
    margin-top: 33vh;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 60px;
    text-align: justify;
}

.button_download {
    margin-top: 54vh;
    margin-left: 25.5vw;

    /* DOWNLOAD CV */
    box-sizing: border-box;

    position: absolute;
    width: 159px;
    height: 48px;

    background: white;
    border: 1px solid #FFA903;
    border-radius: 25px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    text-shadow: 
               -0.5px -0.5px 0px rgba(255, 169, 3, 0.26), 
               -0.5px 0.5px 0px rgba(255, 169, 3, 0.26),      
               0.5px -0.5px 0px rgba(255, 169, 3, 0.26),    
               0.5px 0.5px 0px rgba(255, 169, 3, 0.26);
}

.button_download:hover {
    cursor: pointer;
    margin-top: 53.7vh;
    margin-left: 25.3vw;

    width: 170px;
    height: 55px;

    font-size: 18px;
    line-height: 18px;
    border-radius: 30px;
    
    text-shadow: 
               -1px -1px 0px rgba(255, 169, 3, 0.26), 
               -1px 1px 0px rgba(255, 169, 3, 0.26),      
               1px -1px 0px rgba(255, 169, 3, 0.26),    
               1px 1px 0px rgba(255, 169, 3, 0.26);
}

.button_aboutme {
    margin-top: 54vh;
    margin-left: 33vw;

    /* BOTAO ABOUT ME */
    box-sizing: border-box;

    position: absolute;
    width: 159px;
    height: 48px;

    background: #FFA903;
    border: 1px solid #000000;
    border-radius: 25px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;

    text-shadow: 
               -1px -1px 0px #000, 
               -1px 1px 0px #000,      
                1px -1px 0px #000,    
                1px 1px 0px #000;
}

.button_aboutme:hover {
    cursor: pointer;
    margin-top: 53.7vh;
    margin-left: 32.8vw;

    width: 170px;
    height: 55px;

    font-size: 18px;
    line-height: 18px;
    border-radius: 30px;
    
    text-shadow: 
               -1px -1px 0px #000, 
               -1px 1px 0px #000,      
                1px -1px 0px #000,    
                1px 1px 0px #000;
}

.my_photo {
    position: absolute;
    display: flex;
    margin-left: 55vw;
    margin-top: 10vh;
    border-radius: 112px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.main_container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.phrase {
    /* "We are who we choose to be... So, choose!" - Spider Man. */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 817px;
    height: 60px;
    margin-top: 72vh;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 1.8em;
    line-height: 40px;
    color: #000000;
}

.social {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 8vh;
}

.social_media_first {
    width: 40px;
    height: 40px;
}

.social_media {
    width: 40px;
    height: 40px;
    margin-top: 72vh;
    margin-left: 30px;
}

/* Media query para telas de 1920x1080 (Full HD) e menores */
@media screen and (max-width: 1920px) {
    .myname{
        /* NAME */
        margin-left: 9.5vw;
        margin-top: 10vh;
        }
    
    .hassan {
        margin-top: 22vh;
        margin-left: 12.9vw;
    }
    
    .describe p{
        /* I am a Brazilian student at the École Centrale Marseille and passionate about coding. If you want to know more about my projects and my story, please follow these links: */
        margin-left: 10vw;
        margin-top: 35vh;
        font-size: 1.5em;
    }
    
    .button_download {
        margin-top: 59vh;
        margin-left: 23.5vw;
    }
    
    .button_download:hover {
        margin-top: 58.7vh;
        margin-left: 23.3vw;
    }
    
    .button_aboutme {
        margin-top: 59vh;
        margin-left: 33vw;
    }
    
    .button_aboutme:hover {
        margin-top: 53.7vh;
        margin-left: 32.8vw;
    }


    .my_photo {
        margin-left: 55vw;
        margin-top: 7vh;
    }

    .img-responsive {
        max-width: 85%;
        height: auto;
    }
}

/* Media query para telas de 1024x (iPad Pro) e menores */
@media screen and (max-width: 1024px) {
    body { 
        height: 1024px;
    }
    .myname{
        /* NAME */
        margin-left: 16.5vw;
        margin-top: 3vh;
        font-size: 5.5em;
        width: 55vw;
    }
    
    .hassan {
        margin-top: 10vh;
        margin-left: 9.7vw;
        font-size: 5.5em;
    }
    
    .describe p{
        /* I am a Brazilian student at the École Centrale Marseille and passionate about coding. If you want to know more about my projects and my story, please follow these links: */
        margin-left: 12.5vw;
        margin-top: 58vh;
        font-size: 1.8em;
        width: 550px;
        line-height: 35px;
    }
    
    .button_download {
        margin-top: 72vh;
        margin-left: 20.5vw;

        width: 159px;
        height: 48px;

        font-weight: 400;
        font-size: 16px;
    }
    
    .button_download:hover {
        margin-top: 71.7vh;
        margin-left: 20.3vw;

        width: 159px;
        height: 48px;

        font-weight: 400;
        font-size: 16px;
    }
    
    .button_aboutme {
        margin-top: 72vh;
        margin-left: 43vw;

        width: 159px;
        height: 48px;

        font-weight: 400;
        font-size: 16px;
    }
    
    .button_aboutme:hover {
        margin-top: 71.7vh;
        margin-left: 42.8vw;

        width: 159px;
        height: 48px;

        font-weight: 400;
        font-size: 16px;
    }


    .my_photo {
        margin-left: 25vw;
        margin-right: 22vw;
        margin-top: 20vh;
    }

    .img-responsive {
        max-width:  100%;
        height: auto;
    }

    .phrase {
        /* "We are who we choose to be... So, choose!" - Spider Man. */
        margin-top: 78vh;
        font-size: 1.6em;
    }

    .social_media_first {
        width: 40px;
        height: auto;
    }

    .social_media {
        margin-top: 76vh;
        width: 40px;
        height: auto;
    }
}


/* Media query para telas de 820x (iPad Air) e menores */
@media screen and (max-width: 820px) {
    body { 
        height: 820px;
    }
    .myname{
        /* NAME */
        margin-left: 14.5vw;
        margin-top: 1vh;
        font-size: 4.5em;
        width: 55vw;
    }
    
    .hassan {
        margin-top: 8vh;
        margin-left: -4.7vw;
        font-size: 4.5em;
    }
    
    .describe p{
        /* I am a Brazilian student at the École Centrale Marseille and passionate about coding. If you want to know more about my projects and my story, please follow these links: */
        margin-left: 9.5vw;
        margin-top: 57vh;
        font-size: 1.5em;
        width: 450px;
        line-height: 26px;
    }
    
    .button_download {
        margin-top: 72vh;
        margin-left: 16.5vw;

        width: 140px;
        height: 45px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_download:hover {
        margin-top: 71.7vh;
        margin-left: 16.3vw;

        width: 140px;
        height: 45px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_aboutme {
        margin-top: 72vh;
        margin-left: 40vw;

        width: 140px;
        height: 45px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_aboutme:hover {
        margin-top: 71.7vh;
        margin-left: 39.8vw;

        width: 140px;
        height: 45px;

        font-weight: 400;
        font-size: 12px;
    }


    .my_photo {
        margin-left: 25vw;
        margin-right: 22vw;
        margin-top: 21vh;
    }

    .img-responsive {
        max-width:  100%;
        height: auto;
    }

    .phrase {
        /* "We are who we choose to be... So, choose!" - Spider Man. */
        margin-top: 78vh;
        font-size: 1.2em;
    }

    .social_media_first {
        width: 30px;
        height: auto;
    }

    .social_media {
        margin-top: 76vh;
        width: 30px;
        height: auto;
    }
}

/* Media query para telas de 800x1280 (Tablet) e menores */
@media screen and (max-width: 800px) {
    .myname{
        /* NAME */
        margin-left: 4.5vw;
        width: 70vw;
        margin-top: 8vh;
        font-size: 6em;
        }
    
    .hassan {
        margin-top: 18vh;
        margin-left: 1.7vw;
        font-size: 6em;
    }
    
    .describe p{
        /* I am a Brazilian student at the École Centrale Marseille and passionate about coding. If you want to know more about my projects and my story, please follow these links: */
        margin-left: 5vw;
        margin-top: 56vh;
        font-size: 1.4em;
        width: 520px;
    }
    
    .button_download {
        margin-top: 76vh;
        margin-left: 23.5vw;
    }
    
    .button_download:hover {
        margin-top: 75.7vh;
        margin-left: 23.3vw;
    }
    
    .button_aboutme {
        margin-top: 76vh;
        margin-left: 49vw;
    }
    
    .button_aboutme:hover {
        margin-top: 75.7vh;
        margin-left: 48.8vw;
    }


    .my_photo {
        margin-left: 40vw;
        margin-top: 29vh;
    }

    .img-responsive {
        max-width: 75%;
        height: auto;
    }

    .phrase {
        /* "We are who we choose to be... So, choose!" - Spider Man. */
        margin-top: 84vh;
        font-size: 1.2em;
    }
    
    .social_media {
        width: 40px;
        height: 40px;
        margin-top: 82vh;
        margin-left: 30px;
    }
}

/* Media query para telas de 768x1024 (iPad Mini) e menores */
@media screen and (max-width: 768px) {
    body { 
        height: 768px;
    }
    .myname{
        /* NAME */
        margin-left: 27.5vw;
        margin-top: 1vh;
        font-size: 3.5em;
        width: 85vw;
    }
    
    .hassan {
        margin-top: 8vh;
        margin-left: -4.7vw;
        font-size: 3.5em;
    }
    
    .describe p{
        /* I am a Brazilian student at the École Centrale Marseille and passionate about coding. If you want to know more about my projects and my story, please follow these links: */
        margin-left: 21vw;
        margin-top: 56vh;
        font-size: 1.4em;
        width: 350px;
        line-height: 26px;
    }
    
    .button_download {
        margin-top: 72vh;
        margin-left: 25.5vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_download:hover {
        margin-top: 71.7vh;
        margin-left: 25.3vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_aboutme {
        margin-top: 72vh;
        margin-left: 46vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_aboutme:hover {
        margin-top: 71.7vh;
        margin-left: 45.8vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }


    .my_photo {
        margin-left: 36vw;
        margin-top: 21vh;
    }

    .img-responsive {
        max-width:  73%;
        height: auto;
    }

    .phrase {
        /* "We are who we choose to be... So, choose!" - Spider Man. */
        margin-top: 78vh;
        font-size: 1em;
    }

    .social_media_first {
        width: 30px;
        height: auto;
    }

    .social_media {
        margin-top: 76vh;
        width: 30px;
        height: auto;
    }
}

/* Media query para telas de 430 (Iphone 14 Pro Max) e menores */
@media screen and (max-width: 430px) {
    body { 
        height: 932px;
    }
    .myname{
        /* NAME */
        margin-left: -15.5vw;
        margin-top: 1vh;
        font-size: 3.5em;
        width: 85vw;
    }
    
    .hassan {
        margin-top: 8vh;
        margin-left: -72.7vw;
        font-size: 3.5em;
    }
    
    .describe p{
        /* I am a Brazilian student at the École Centrale Marseille and passionate about coding. If you want to know more about my projects and my story, please follow these links: */
        margin-left: -13.5vw;
        margin-top: 56vh;
        font-size: 1.2em;
        width: 300px;
        line-height: 26px;
    }
    
    .button_download {
        margin-top: 74vh;
        margin-left: -10.5vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_download:hover {
        margin-top: 73.7vh;
        margin-left: -10.3vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_aboutme {
        margin-top: 74vh;
        margin-left: 25vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_aboutme:hover {
        margin-top: 73.7vh;
        margin-left: 24.8vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }


    .my_photo {
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 21vh;
    }

    .img-responsive {
        max-width: 100%;
        height: auto;
    }

    .phrase {
        /* "We are who we choose to be... So, choose!" - Spider Man. */
        margin-top: 78vh;
        font-size: 0.8em;
    }

    .social_media_first {
        width: 30px;
        height: auto;
    }

    .social_media {
        margin-top: 76vh;
        width: 30px;
        height: auto;
    }
}

/* Media query para telas de 390x844 (Iphone 12 Pro) e menores */
@media screen and (max-width: 390px) {
    body { 
        height: 844px;
    }
    .myname{
        /* NAME */
        margin-left: -20.5vw;
        margin-top: 1vh;
        font-size: 3.5em;
        width: 85vw;
    }
    
    .hassan {
        margin-top: 8vh;
        margin-left: -83.7vw;
        font-size: 3.5em;
    }
    
    .describe p{
        /* I am a Brazilian student at the École Centrale Marseille and passionate about coding. If you want to know more about my projects and my story, please follow these links: */
        margin-left: -20vw;
        margin-top: 56vh;
        font-size: 1.2em;
        width: 300px;
        line-height: 26px;
    }
    
    .button_download {
        margin-top: 74vh;
        margin-left: -15.5vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_download:hover {
        margin-top: 73.7vh;
        margin-left: -15.3vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_aboutme {
        margin-top: 74vh;
        margin-left: 22vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }
    
    .button_aboutme:hover {
        margin-top: 73.7vh;
        margin-left: 21.8vw;

        width: 120px;
        height: 32px;

        font-weight: 400;
        font-size: 12px;
    }


    .my_photo {
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 21vh;
    }

    .img-responsive {
        max-width: 100%;
        height: auto;
    }

    .phrase {
        /* "We are who we choose to be... So, choose!" - Spider Man. */
        margin-top: 78vh;
        font-size: 0.8em;
    }

    .social_media_first {
        width: 30px;
        height: auto;
    }

    .social_media {
        margin-top: 76vh;
        width: 30px;
        height: auto;
    }
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

#scroll-to-top button {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #FFA903;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: 16px;
}
