html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

#logo { 
    margin-left: -50vw;
}

.nav {
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
}

.navbar_menus {
    display: flex;
    position: absolute;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    margin-top: 3vh;
    list-style: none;
}

.menus_left {
    position: relative;
    left: -6.5vw;
    margin-left: 2.3vw;
}

.menus_left#logo {
    position: relative;
    left: -6.5vw;
    margin-top: -32px;
}

.menus_left a {
    color: #000000;
    text-decoration: none;
}

.menus_right {
    position: relative;
    right: 0;
    margin-left: -4.5vw;
}

.menus_right a {
    color: #000000;
    text-decoration: none;
}

.menus_left:hover {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    transition: 0.1s;
}

.menus_right:hover {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    transition: 0.1s;
}



/* Media query para telas de 1920x1080 (Full HD) e menores */
@media screen and (max-width: 1920px) {
    .nav {
        margin-left: 4vw;
    }
}

/* Media query para telas de 1024 (iPad Pro) e menores */
@media screen and (max-width: 1024px) {
    .navbar_menus {
        font-size: 25px;
        margin-top: 2vh;
    }

    #logo { 
        margin-left: -70vw;
    }
}

/* Media query para telas de 820 (iPad Air) e menores */
@media screen and (max-width: 820px) {
    .navbar_menus {
        font-size: 20px;
        margin-top: 2vh;
    }

    #logo { 
        margin-left: -70vw;
    }
}

/* Media query para telas de 800x1280 (Tablet) e menores */
@media screen and (max-width: 800px) {
    .navbar_menus {
        font-size: 20px;
        margin-top: 2vh;
    }

    #logo { 
        margin-left: -70vw;
    }
}

/* Media query para telas de 390x844 (Celular) e menores */
@media screen and (max-width: 390px) {
    .navbar_menus {
        font-size: 16px;
        padding-top: 2vh;
    }

    #logo img {
        margin-left: -8vw;
        padding-top: 2.4vh;
        width: 50px;
        height: auto;
    }
}

/* Media query para telas de 390x844 (Celular) e menores */
@media screen and (max-width: 430px) {
    .navbar_menus {
        font-size: 16px;
        padding-top: 2vh;
    }

    #logo img {
        margin-left: -8vw;
        padding-top: 2.4vh;
        width: 50px;
        height: auto;
    }
}