{% extends 'base/main.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/home.css' %}">


<section class="presentation">
    <div>
        <h1 class="myname">Hi! My name</h1>

        <h1 class="hassan">is <span style="font-weight: 400">Hassan</span></h1>
    </div>

    <div class="describe">
        <p>I am a Brazilian student at the École Centrale Marseille<br>
            and passionate about coding. If you want to know more 
            about my projects and my story, please follow these links:
        </p>
    </div>
    <div>
        <a href="{% static 'documents/Hassan Oliveira - CV  FR.pdf' %}" download><button type="button" class="button_download">DOWNLOAD CV</button></a>
        <a href="/about_me" ><button type="button" class="button_aboutme">ABOUT ME</button></a>
    </div>
</section>

<section class="my_photo">
    <img src="{% static 'images/IMAGEM DE PERFIL.png' %}" alt="My photo">
</section>

<section class="main_container">
    <h2 class="phrase">"We are who we choose to be... So, choose!" - Spider Man.</h2>
</section>
<section class="social">
    <a href="https://www.linkedin.com/in/hassanaboliveira/" target="_blank"><img src="{% static 'images/linkedin.png' %}" alt="linkedin" class="social_media_first" id="linkedin"></a>
    <a href="https://www.facebook.com/hassan.augustob.deoliveira" target="_blank"><img src="{% static 'images/facebook.png' %}" alt="facebook" class="social_media"></a>
    <a href="https://www.instagram.com/hassan.augusto/" target="_blank"><img src="{% static 'images/instagram.png' %}" alt="instagram" class="social_media"></a>
    <a href="https://github.com/HassanOliveira" target="_blank"><img src="{% static 'images/github.png' %}" alt="github" class="social_media"></a>
</section>

{% endblock content %}
