{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">


<nav>
    <div class="nav">
        <a href="/" class="logo"><img src="{% static 'images/LOGO.svg' %}" alt="Logo"></a>
        <ul class="navbar_menus">
            <li class="menus_left" id="first_menu_left"><a href="/">HOME</a></li>
            <li class="menus_left"><a href="/about_me">ABOUT ME</a></li>
            <li class="menus_left" id="last_menu_left"><a href="/projects">PROJECTS</a></li>
            <li class="menus_right" id="first_menu_right"><a href="/photos">PHOTOS</a></li>
            <li class="menus_right"><a href="/blog">BLOG</a></li>
            <li class="menus_right"><a href="/contact">CONTACT</a></li>
        </ul>
    </div>
</nav>