
.presentation {
    display: flex;
    position: absolute;
    font-family: 'Josefin Sans';
    font-style: normal;
    left: 120px;
    border-radius: 20px;
    margin-top: -50px;
}

.myname{
    /* NAME */
    position: absolute;
    width: 691px;
    height: 254px;
    left: 100px;
    font-weight: 300;
    font-size: 100px;
    line-height: 125px;
    }

.hassan {
    position: absolute;
    width: 553px;
    height: 254px;
    text-align: right;
    font-weight: 300;
    margin-top: 180px;
    left: 100px;
    font-size: 100px;
    line-height: 125px;
}

.describe p{
    /* I am a Brazilian student at the École Centrale Marseille and passionate about coding. If you want to know more about my projects and my story, please follow these links: */
    text-indent: 3ch;
    position: absolute;
    width: 550px;
    height: 172px;
    left: 100px;
    top: 300px;
    font-weight: 200;
    font-size: 22px;
    line-height: 60px;
    text-align: justify;
}

.button_download {
    margin-top: 530px;
    margin-left: 300px;

    /* DOWNLOAD CV */
    box-sizing: border-box;

    position: absolute;
    width: 159px;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #FFA903;
    border-radius: 25px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    text-shadow: 
               -0.5px -0.5px 0px rgba(255, 169, 3, 0.26), 
               -0.5px 0.5px 0px rgba(255, 169, 3, 0.26),      
               0.5px -0.5px 0px rgba(255, 169, 3, 0.26),    
               0.5px 0.5px 0px rgba(255, 169, 3, 0.26);
}

.button_download:hover {
    cursor: pointer;
    margin-top: 527px;
    margin-left: 295px;

    width: 170px;
    height: 55px;

    font-size: 18px;
    line-height: 18px;
    border-radius: 30px;
    
    text-shadow: 
               -1px -1px 0px rgba(255, 169, 3, 0.26), 
               -1px 1px 0px rgba(255, 169, 3, 0.26),      
               1px -1px 0px rgba(255, 169, 3, 0.26),    
               1px 1px 0px rgba(255, 169, 3, 0.26);
}

.button_aboutme {
    margin-top: 530px;
    margin-left: 490px;

    /* BOTAO ABOUT ME */
    box-sizing: border-box;

    position: absolute;
    width: 159px;
    height: 48px;

    background: #FFA903;
    border: 1px solid #000000;
    border-radius: 25px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;

    text-shadow: 
               -1px -1px 0px #000, 
               -1px 1px 0px #000,      
                1px -1px 0px #000,    
                1px 1px 0px #000;
}

.button_aboutme:hover {
    cursor: pointer;
    margin-top: 527px;
    margin-left: 485px;

    width: 170px;
    height: 55px;

    font-size: 18px;
    line-height: 18px;
    border-radius: 30px;
    
    text-shadow: 
               -1px -1px 0px #000, 
               -1px 1px 0px #000,      
                1px -1px 0px #000,    
                1px 1px 0px #000;
}

.my_photo {
    position: absolute;
    display: flex;
    width: 588px;
    height: 527px;
    left: 1112px;
    top: 140px;
    border-radius: 112px;
}

.main_container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.phrase {
    /* "We are who we choose to be... So, choose!" - Spider Man. */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 817px;
    height: 60px;
    margin-top: 610px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 200;
    font-size: 34px;
    line-height: 40px;
    color: #000000;
}

.social {
    margin: auto;
    justify-content: center;
    text-align: center;
}

.social_media_first {
    width: 40px;
    height: 40px;
}

.social_media {
    width: 40px;
    height: 40px;
    margin-top: 685px;
    margin-left: 30px;
}