{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav>
    <div class="nav">        
        <a href="/" id="logo"><img src="{% static 'images/Logo.svg' %}" alt="Logo"></a>
        <ul class="navbar_menus">
            <li class="menus_left" id="first_menu_left"><a href="/">HOME</a></li>
            <li class="menus_left"><a href="/#timeline">EXPERIENCES</a></li>
            {% if cards %}
                <li class="menus_right"><a href="/#projects-section">PROJECTS</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
